
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h1 class="page-header">Available Listings</h1>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter Listings
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/dog_friendly">By dog-friendly only</a></li>
      <li><a href="/kid_friendly">By child-friendly only</a></li>
      <li><a href="/cat_friendly">By cat-friendly only</a></li>
    </ul>
  </div>
</div>

<%= render "partials/listings" %>
