<h1 >Available Listings</h1>
<h4 class="filters">
  <a href="/dog_friendly">Dog Friendly Only</a> | <a href="/cat_friendly">Cat Friendly Only</a> | <a href="/kid_friendly">Kid Friendly Only</a>
</h4>

<%= render "partials/listings" %>
